.Myself {
  width: 90%;
}

.Myself h3 {
  margin-bottom: 2%;
  font-weight: 400;
  font-size: 60%;
}

.Myself a:hover {
  text-decoration: underline;
}

#resumeLink {
  margin-top: 20px;
}

.AbilitiesBox {
  margin-top: 40px;
  padding-left: 0%;
}

.Myself .AbilitiesBox {
  padding-left: 0%;
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 479px) {
  .Myself h3 {
    font-size: 40%;
  }
}
